<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">

    <title>Profile's Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Hello, {{user.first_name}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto"></ul>
                <span class="navbar-text">
                        </a> <a href="/logout" role="button"
                        class="btn btn-sm btn-info ml-2 text-white">Logout</a>
                </span>
            </div>
        </div> 
    </nav>
    <center><h1>Welcome to DictForYou!</h1>
        <form method="post" action="/findaword">
            {% csrf_token %}

            <div style="border:1px solid black;padding:4px;width:20em;">
            <table border="0" align="center" cellpadding="0">
            <tr><td>
            <input type="text"  name="content" size="25"
            maxlength="255" value="" />
            <input type="submit" value="Search" /></td></tr>
            <tr><td align="center" style="font-size:75%">
            
            </td></tr></table>
            </div>
            
        </form>
    </center>
    <h1>Your Words Liked:</h1>
        <table class="table table-dark">
            <thead>
                <th>Word</th>
                <th>Date liked</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for word in my_words %}
                <tr>
                    <td><a href="/words/{{word.content}}"> {{word.content}}</a> </td>
                    <td>{{ word.created_at }}</td>

                    <td>
                        <form action='/words/delete/{{word.id}}' method='POST'>
                            {% csrf_token %}
                            
                            <input type='submit' value='Delete'>
                        </form> 
                </tr>

                {% endfor %}
    
            </tbody>
        </table>       
    
    <h1>Your Words List:</h1>
        <table class="table table-dark">
            <thead>
                <th>Word</th>
                <th>Date added</th>
                
            </thead>
            <tbody>
                {% for word in searched_words %}
                <tr>
                    <td><a href="/words/{{word.content}}"> {{word.content}}</a></td>
                    <td>{{ word.created_at }}</td>

                    
                </tr>

                {% endfor %}  
            </tbody>
        </table>       

    <footer><p>Powered by WordsAPI</p></footer>
<style>
    footer {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color:rgb(231, 142, 142);
        color: white;
        text-align: center;
    }
</style>
</body>
</html>